
  <h2>Edit user</h2>
  <p>update relevant fields</p>

	<%= render partial: '/users/form' %>

  <%= link_to "DELETE PROFILE", user_path(@user), method: :delete %>
  <%= link_to("Main page", root_path) %>